.oneDishCard {
  width: 200px;
  width: calc(1340px / 6);
  height: 300px;
  border-style: solid;
  border-color: rgb(204, 204, 204);
  border-width: 1px;
  background-color: #ffffff;
  border-radius: 8px;
  cursor: pointer;
  transition: color 0.3s ease;
  transition: background-color 0.3s ease;
}

.oneDishCard:hover {
  color: white;
  background-color: var(--main-color);
}

.cardTitle {
  width: 90%;
  height: 60px;
  padding: 10px;
}

.cardImg {
  display: block;
  width: 90%;

  border-radius: 10px;
  margin-top: 10px;
  margin-left: auto;
  margin-right: auto;
  transition: width 0.3s ease;
}

.oneDishCard:hover img {
  width: 94%;
}

.dishElement {
  position: relative;
  padding: 0;
}

.favBtn {
  font-size: 18px;
  position: absolute;
  right: 15px;
  top: 15px;

  background-color: transparent;
  border: none;
  cursor: pointer;
}

.favBtn:hover {
  scale: 1.1;
}
