.oneDishCard {
  width: 200px;
  height: 300px;
  border-style: solid;
  border-color: rgb(204, 204, 204);
  border-width: 1px;
  margin-top: 10px;
  background-color: #ffffff;
  border-radius: 8px;
  cursor: pointer;
  transition: color 0.3s ease;
  transition: background-color 0.3s ease;
}

.oneDishCard:hover {
  color: white;
  background-color: #fe724c;
}

.cardTitle {
  width: 90%;
  height: 60px;
  padding: 10px;
}

.cardImg {
  display: block;
  width: 90%;

  border-radius: 10px;
  margin-top: 10px;
  margin-left: auto;
  margin-right: auto;
  transition: width 0.3s ease;
}

.oneDishCard:hover img {
  width: 94%;
}

.cardBtn {
  border: none;
  display: block;
  margin: 0 auto;
  width: 90%;
  height: 38px;
  background-color: #fe724c;

  border-radius: 8px;

  cursor: pointer;
}

.cardBtn:hover {
  background-color: #e65730;
}
