.dishElement {
  display: flex;
  justify-content: center;
  gap: 22px;
  flex-wrap: wrap;
}

.oneDishCard {
  width: 200px;
  width: calc(1340px / 6);
  height: 300px;
  /* border-style: solid; */
  /* border-color: rgb(204, 204, 204); */
  /* border: none; */
  border-width: 1px;
  background-color: #ffffff63;
  /* border-radius: 8px; */
  cursor: pointer;
  transition: color 0.3s ease;
  transition: border-color 0.3s ease;
  -webkit-box-shadow: inset -1px 5px 19px 5px rgba(0, 0, 0, 0.01);
  -moz-box-shadow: inset -1px 5px 19px 5px rgba(0, 0, 0, 0.01);
  box-shadow: inset -1px 5px 19px 5px rgba(0, 0, 0, 0.01);
}

.oneDishCard:hover {
  border-color: rgb(63, 63, 63);
  -webkit-box-shadow: 0px -4px 67px -28px rgba(0, 0, 0, 0.75);
  -moz-box-shadow: 0px -4px 67px -28px rgba(0, 0, 0, 0.75);
  box-shadow: 0px -4px 67px -28px rgba(0, 0, 0, 0.75);
}

.cardTitle {
  width: 90%;
  height: 60px;
  padding: 10px;
}

.cardImg {
  display: block;
  width: 90%;

  border-radius: 10px;
  margin-top: 10px;
  margin-left: auto;
  margin-right: auto;
  transition: width 0.3s ease;
}

.oneDishCard:hover img {
  width: 94%;
}
