.dishElement {
  display: flex;
  justify-content: center;
  gap: 22px;
  flex-wrap: wrap;
}

.oneDishCard {
  width: 200px;
  height: 300px;
  border-style: solid;
  border-color: rgb(204, 204, 204);
  border-width: 1px;
  background-color: #ffffff;
  border-radius: 8px;
  cursor: pointer;
  transition: color 0.3s ease;
  transition: background-color 0.3s ease;
}

.oneDishCard:hover {
  color: white;
  background-color: #fe724c;
}

.cardTitle {
  width: 90%;
  height: 60px;
  padding: 10px;
  /* margin-left: 20px; */
}

.cardImg {
  display: block;
  width: 90%;

  border-radius: 10px;
  margin-top: 10px;
  margin-left: auto;
  margin-right: auto;
  transition: width 0.3s ease;
}

.oneDishCard:hover img {
  width: 94%;
}
