.inputForm {
  display: inline;
}

.inputSearch {
  padding: 5px;
  border-radius: 4px;
  color: white;
  background-color: rgb(9, 65, 75);
  outline: none;
  border: solid 1px rgb(88, 120, 126);
  transition: border 0.1s ease-in;
}

.inputSearch:focus {
  border: solid 1px #ffffff;
  background-color: rgb(9, 65, 75);
}

.inputSearch:hover {
  border: solid 1px #ffffff;
  background-color: rgb(14, 83, 95);
}

.searchBtn {
  margin-left: 14px;
  padding: 5px;
  color: white;
  border-radius: 4px;
  background-color: rgb(9, 65, 75);
  border: solid 1px rgb(88, 120, 126);
  cursor: pointer;
  transition: color 0.3s ease;
}

.searchBtn:hover {
  color: white;
  background-color: rgb(14, 83, 95);
}
