.mainContainer {
  position: relative;
  display: flex;
  padding: 0;
  min-height: 90vh;
  flex-direction: column;
  justify-content: flex-start;
  flex-wrap: wrap;

  width: 1440px;
  margin: 0 auto;
  align-content: flex-start;
}
.linkContainer {
  margin-left: 180px;
}
.navContainer {
  height: 54px;
  padding-top: 10px;
  background-color: var(--main-color);
}

.navLink {
  position: relative;
  text-decoration: none;
  color: white;
  font-size: 24px;
  margin-right: 40px;
}

.navLink:hover {
  color: white;
}

.navLink::before {
  content: '';
  position: absolute;
  bottom: -2%;
  left: 50%;
  width: 0;
  height: 1px;
  background-color: #fff;
  transition: width 0.25s ease-in-out, left 0.25s ease-in-out;
}

.navLink:hover::before {
  width: 100%;
  left: 0;
}

.activeLink {
  text-decoration: dashed;
  border-bottom: solid 1px white;
}

.mobilemenu {
  position: absolute;
  z-index: 1;
  width: 300px;
  height: 100vw;
  display: flex;
  flex-direction: column;
  gap: 12px;
  top: 0;
  /* left: -300px; */
  /* transform: translateX(-300px); */
  padding-top: 60px;
  padding-left: 16px;

  /* transition: 0.4s; */
  background-color: var(--main-color);
}

/* .openMenu {
  background-color: var(--main-color);
} */

.showNavLink {
  display: inline;
}

.closeNavLink {
  display: none;
}

.scrollLock {
  overflow: hidden;
}

/* ////////////////////// */
.burger_icon {
  display: flex;
  flex-direction: column;
  cursor: pointer;
  margin-top: 8px;
  margin-left: 20px;
}

.burger_icon span {
  height: 3px;
  width: 25px;
  background-color: #ffffff;
  margin: 2px 0;
  transition: 0.4s;
  z-index: 2;
}

.burger_icon.open span:nth-child(1) {
  transform: rotate(-45deg) translate(-7px, 6px);
}

.burger_icon.open span:nth-child(2) {
  transform: rotate(45deg) translate(1px, 3px);
}

.burger_icon.open span:nth-child(3) {
  transform: rotate(0deg) translate(-0px, -0px);
  opacity: 0;
}

/* /////////////////////////// */

@media (max-width: 1279px) {
  .linkContainer {
    display: none;
  }
}

@media (min-width: 1279px) {
  .mobileMenuOpenBtn {
    display: none;
  }

  .mobilemenu {
    display: none;
  }

  .burger_icon {
    display: none;
  }
}

@media (max-width: 1439px) {
  .mainContainer {
    width: 720px;
  }
}

@media (max-width: 719px) {
  .mainContainer {
    width: 480px;
  }
}
