.mainContainer {
  position: relative;
  display: flex;
  padding: 0 24px;
  min-height: 90vh;
  flex-direction: row;
  justify-content: flex-start;
  flex-wrap: wrap;
  align-content: space-between;
}
.linkContainer {
  margin-left: 180px;
}
.navContainer {
  height: 54px;
  padding-top: 10px;
  background-color: var(--main-color);
}

.navLink {
  position: relative;
  text-decoration: none;
  color: white;
  font-size: 24px;
  margin-right: 40px;
}

.navLink:hover {
  color: white;
}

.navLink::before {
  content: '';
  position: absolute;
  bottom: -2%;
  left: 50%;
  width: 0;
  height: 1px;
  background-color: #fff;
  transition: width 0.25s ease-in-out, left 0.25s ease-in-out;
}

.navLink:hover::before {
  width: 100%;
  left: 0;
}

.activeLink {
  text-decoration: dashed;
  border-bottom: solid 1px white;
}

.mobilemenu {
  position: absolute;
  z-index: 1;
  width: 300px;
  height: 100vw;
  display: flex;
  flex-direction: column;
  gap: 12px;
  top: 0;
  left: 0;

  padding-top: 30px;
  padding-left: 16px;
}

.openMenu {
  /* background-color: #ffb2b2; */
  background-color: var(--main-color);
  margin-left: 0px;
}

.closeMenu {
  transition: margin-left 0.3s;
}

.showNavLink {
  display: inline;
}

.closeNavLink {
  display: none;
}

.scrollLock {
  overflow: hidden;
}

.mobileMenuCloseBtn {
  position: absolute;
  display: inline-block;
  width: 50px;
  right: 8px;
  top: 8px;
}

@media (max-width: 1279px) {
  .linkContainer {
    display: none;
  }
}

@media (min-width: 1279px) {
  .mobileMenuOpenBtn {
    display: none;
  }

  .mobilemenu {
    display: none;
  }
}
