.categoryButton {
  background-color: rgb(245, 245, 245);
  font-size: 28px;
  height: 50px;
  border-radius: 8px;
  border: none;
  /* margin-right: 36px; */
  padding: 6px;
  cursor: pointer;
}

.categoryButton:focus {
  color: white;
  background-color: var(--main-color);
}
.categoryButton:hover {
  color: white;
  background-color: var(--main-color);
}
