.dietFooSection {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.dishesList {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  gap: 12px;
  justify-content: flex-start;
  width: 1440px;
  padding: 0px;
  /* margin: 0 auto; */
}

.loadMoreBtn {
  display: block;
  border: none;
  background-color: var(--main-color);
  color: white;
  font-size: 20px;
  padding: 12px 22px;
  border-radius: 6px;
  cursor: pointer;
  margin: 36px auto;
}

.loadMoreBtn:hover {
  background-color: var(--hover-color);
}
